.aIconic {
	@include DefaultFont(700);

	position: relative;

	width: 140px;
	color: $color--white;
	background-color: $color--brand;

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__label {
		font-size: 24px;
		margin: 0;
		padding: 0;
	}

	&::after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}

	&--brandy {
		background-color: $color--brand;
	}

	&--dark {
		background-color: $color--black;
	}

	&--fat {
		.aIconic__content {
			justify-content: flex-start;
			align-items: flex-start;
		}
		.aIconic__label {
			margin: 1rem;
		}
	}
}
